.top-container{
    display: block;
    padding-top: 10%;
    padding-bottom: 0;
    position: relative;
    width: 100vw;
    background-color: #d3f0f0;
    text-align: center;
}

.top-container h2{
    margin-top: 1%;
    font-family: 'Krona One', sans-serif;
    font-size: 100%;
    color: rgb(14, 187, 187);
    font-weight: normal;
}

#top-cloud{
    position: absolute;
    right: 20vw;
    top: 75px;
}

#top-cloud:hover{
    position: absolute;
    right: 30vw;
    top: 75px;
}

#bottom-cloud{
    position: absolute;
    left: 15vw;
    top: 220px;
}

#bottom-cloud:hover{
    position: absolute;
    left: 25vw;
    top: 220px;
}

#mountain{
    display: block;
    margin: auto;
    position: relative;
    bottom: 0;
}